.list {
    // width: 30%;
    // max-width: 50em;
    min-width: 10em;
    // display: flex;
    // width: 100%;
    // .listContainer {
    //     margin: 10rem;
    //     padding: 10rem;
    //   flex: 1;
    // }
    .Container {
        margin: 2rem;
        padding: 1rem;
      flex: 1;
      
    }
    .icon {
        font-size: 18px;
        color: #cfa200;
      }
  }
  